<br/>
<br/>
<label>Customer ID : </label>

<input type="number" name="customerid" [formControl]="customerid">

<br />

<p>
    <button (click)="onClickSubmit()">get customer</button>
</p>

Customer : 
<table *ngIf="customer">
    <tr>
        <th>CustomerId</th>
        <th>Name</th>
        <th>Surname</th>
        <th>address</th>
    </tr>
    <tr>
        <td>{{customer.customerId}}</td>
        <td>{{customer.name}}</td>
        <td>{{customer.surname}}</td>
        <td>{{customer.addresse}}</td>
    </tr>
</table>
Customer Accounts :

<div *ngFor="let account of customer.accounts;let i = index;">
    <div style="display: inline;">==Account {{i+1}}==></div><table>
        <tr>
            <th>AccountId</th>
            <th>title</th>
            <th>description</th>
            <th>creation_date</th>
            <th>isClosed</th>
        </tr>
        <tr>
            <td>{{account.accountId}}</td>
            <td>{{account.title}}</td>
            <td>{{account.description}}</td>
            <td>{{account.creation_date}}</td>
            <td>{{account.is_closed}}</td>
        </tr>
    </table>
    Account {{i+1}} transactions :
    <table *ngFor="let transaction of account.transactions;let j = index;">
        <div style="display: inline;">==Trnsaction {{j+1}}==></div>
        <tr>
            <th>TransactionId</th>
            <th>balance</th>
            <th>type</th>
        </tr>
        <tr>
            <td>{{transaction.transactionId}}</td>
            <td>{{transaction.balance}}</td>
            <td>{{transaction.transaction_type}}</td>
        </tr>
    </table>
</div>